section#skills {
  background-color: #ffae20; /* Set the desired background color */
  padding: 50px 20px;
}

.skills-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.skills-list li {
  display: inline-block;
  background: #eee;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
}
